@import "./function/**";
@import "./setting/**";
@import "./base/**";
@import "./mixin/**";
@import "./plugin/**";
@import "./module/**";
@import "./page/**";


.test {
  padding: 10px;
  margin: 0 auto;
  color: #f00;
  background-color: #fff;
}

body {
  font-size: rem(60);
}

.mv{
   background: url(../images/common/MV.png) center center / cover;
  @include mq("md") {
    color:#fff;
    height:rem(900);
    position:relative;
  }
}

.header{
  @include mq("md") {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-top:rem(15);
  }
}

.header-logo img{
  @include mq("md") {
    width:rem(200); 
  }
}

.header__nav{
  @include mq("md") {
    display:flex; 
    align-items:center;
  }
}

.nav-items__item{
  @include mq("md") {
    font-size:rem(16) ;
    line-height:2;
    letter-spacing: 2%;
  }
}

.nav-items__item + .nav-items__item{
  @include mq("md") {
    margin-left:rem(40);
  }
}

.nav-items__item_contact{
  @include mq("md") {
   color:#060C41;
   background-color:#FFBA0E;
   padding:rem(22) rem(63);
   border-radius:rem(100);
   box-sizing:border-box;
  }
}

.header-message{
  position:absolute;
  top:40%;
}

.header-message__ttl{
  @include mq("md") {
    
    // background: linear-gradient(#FF0000, #FFBB0E);
    background: linear-gradient(90deg, #FF0000 , #FFBB0E 100%);
    display:inline-block;
    padding:rem(31) rem(30);
    font-size:rem(64);
   
  }
}

.header-text_margin{
  @include mq("md") {
    margin-top:rem(40);
  }
}

.header-text__01{
  @include mq("md") {
   font-size:rem(24);
  //  line-height:150%;
  }
}

.header-text__02{
  @include mq("md") {
    font-size:rem(24);
    line-height:1.33;
    margin-top:rem(10);
    font-family: 'Bradley Hand',sans-serif;
  }
}


//about-section
.about{
  background: url(../images/common/diego-ph-5LOhydOtTKU-unsplash.jpg) center center / cover;
  color:#fff;
  padding-top:rem(150);
  position:relative;
}

.about::before{
  content:'ABOUT';
  position:absolute;
  top:rem(10);
  left: calc(50% - 5.3125rem);
  // left:50%;
  font-weight:700;
  font-size:rem(150);
  letter-spacing:0.02;
  line-height:rem(150);
  color:rgba(0, 0, 0, 0.5);
  transform:translateX(-100%)
}

.about-ttl{
  @include mq("md") {
     text-align:center;
     font-size: rem(48);
     line-height: 1;
     letter-spacing: 0.5;
   }
}

.about-main_margin{
  margin-top:rem(82);
}

.about-main__item{

}

.about-item{
  display:flex;
  align-items:center;
}

.about-main__item + .about-main__item{
  margin-top:rem(62);
}

.about-item__img{
  width:50.33%;
  position:relative;
}

// .about-item__img::before{
//   content:url(../images/common/Ⅰ.png);
//   position:absolute;
//    width:rem(120);
//    height:rem(120);

//   left:0;
//   top:rem(-60);
// }

.number{
  position:absolute;
  width:rem(120);
  height:rem(120);
  top:rem(-35);
  left:rem(25);
}
.about-main-img{
  width:100%;
  height:100%;
}

.about-item__message{
  width:44.714%;
  margin-left:4.94%;
}

.about-message__ttl{
  font-size:rem(36);
  letter-spacing:0.2rem;
}

.about-message__text{
  margin-top:rem(31);
  font-size:rem(16);
  letter-spacing:0.01rem;
  line-height:2.5;
}

.about-item:nth-child(2){
  flex-flow:row-reverse;
}
.about-item:nth-child(2) .number{
  // left:rem(100);
  // right:rem(50) !important;
  left:rem(430);
}

.about-item:nth-child(2) .about-item__message{
  margin-left:0;
  margin-right:4.94%;
}


//rct
.rct{
  background:url(../images/common/nasa-Q1p7bh3SHj8-unsplash.png) center center / cover;
  color:#fff;
  padding-top: rem(155);
  padding-bottom:rem(144);
  position:relative;
}

.rct::before{
  content:'RECURUIT';
  position:absolute;
  color:rgba(255,255,255, 0.15);
  font-size:rem(150);
  right:0;
  top:rem(10);
  font-weight:bold;

}

.rct-header{
  text-align: center;
}

.rct__ttl{
  font-size: rem(48);
  letter-spacing: 0.05rem;
  line-height: 1;
  text-align: center;
}

.rct-header__join{
  margin-top: rem(48);
  font-size: rem(20);
  letter-spacing: 0.02rem;
  line-height: 1.5;
  // margin-left:auto;
  // margin-right:auto;
  display:inline-block;
  position:relative;
}

.rct-header__join::before{
  content:'';
 position:absolute;
 width:rem(70);
 height:rem(3);
 background-color:#fff;
 top:50%;
 left:rem(-60);
 transform:rotate(60deg);
}
.rct-header__join::after{
 content:'';
 position:absolute;
 width:rem(70);
 height:rem(3);
 background-color:#fff;
 top:50%;
 right:rem(-60);
 transform:rotate(-60deg);
}

.rct-content{
  background-color:#fff;
  border:10px solid #A3A3A3;
  max-width:rem(750);
  width:100%;
  // height:rem(564);
  padding:rem(60) rem(136);
  margin-left:auto;
  margin-right:auto;
  box-sizing:border-box;

}
.rct__astronaut{
  width:rem(600);
  margin-left:auto;
  margin-right:auto;
}

.rct__astronaut img{
  width:100%;
  height:100%;
  vertical-align:bottom;
}
.rct__main{
  // margin-top:rem(250);
}

.rct-content__dl{
}

.rct-dl__flex{
  color:#000000;
  display:flex;
  font-size: rem(16);
  line-height:1.5;
  
  
}

.rct-dl__flex + .rct-dl__flex{
  margin-top: rem(50);
}

.rct-flex__dt{
  width:rem(124);
}

.rct-flex__dd{
  width:72.92%;
}

.rct-content__btn{
  background-color:#FFBA0E;
  color:#060C41;
  text-align:center;
  font-size:rem(24);
  line-height:1.33333;
  letter-spacing:0.02rem;
  border-radius:rem(100);
  padding:rem(20) rem(105);
  border:7px solid #060C41;
  margin-top:rem(55);
  box-shadow:0px 10px 0px 0px #060C41;
  font-weight:bold;
  transition: .3s;
  display:inline-block;

}


.rct-content__btn:hover {
  // color: #007db9;;
  box-shadow: none;
  // background: #fff;
  transform: translate3d(0, 5px, 0);
}

//career

.career{
 position:relative;
}

.career::before{
  content:'CAREER';
  position:absolute;
  font-size:rem(150);
  line-height:1;
  letter-spacing:0.02rem;
  top:rem(20);
  left:calc( 50% - 30px);
  transform:translateX(-100%);
  color:rgba(255,255,255,0.05);
  font-weight:bold;
}

.bg-blue{
  background-color:#0E112C;
  width:100%;
  height:rem(510);
  padding-top:rem(170);
  padding-bottom:rem(196);
  box-sizing:border-box;
}

.career-header{
  color:#fff;
}

.career-header__ttl{
  font-size:rem(48);
  line-height:1;

}
.career-header__text{
  margin-top:rem(60);
  font-size:rem(20);
  line-height:1.5;
  letter-spacing:0.02rem;
}

.bg-gray{
  background-color:#ACACAC;
  width:100%;
  // height:rem(615);
  height:rem(520);
  position:relative;
}

.career-main{
  display:flex;
  justify-content:space-around;
  background-color:#fff;
  padding-top:rem(60);
  padding-bottom:rem(60);
  position:absolute;
  top:-20%;
  left:50%;
  width:100%;
  max-width:rem(1190);
  transform:translateX(-50%);
}

.career-main__item{
  width:25.21%;
  text-align:center;
}

.career-item__img{
  // width:25.21%;
  width:100%;
}

.career-item__img img{
  width:100%;
  height:100%;
}

.career-item__text{
  font-size:rem(20);
  line-height:1.5;
  letter-spacing:0.02rem;
  margin-top:rem(20);
}



// //check

// .check{
//   background-color:#ACACAC;
//   width:100%;
//   position:relative;
//   //  z-index:-2;
//   padding-top:rem(144);
//   padding-bottom:rem(231.9)

// }
// .check::before{
//   content:'CHECK IT OUT';
//   position:absolute;
//   font-weight:700;
//   font-size:rem(150);
//   line-height:1;
//   color:#E0E0E0;
//   right:41.8%;
//   top:0;
//   transform:translateX(67%);

//   z-index:1;
// }
// .check::after{
//  content:'';
//  position: absolute;
//  background-color:#fff;
//  width:69.44%;
//  height:100%;
//  top:0;
//  left:0;
//  z-index:0;
// }

// .check__ttl{
//   font-size:rem(48);
//   letter-spacing:0.02rem;
//   line-height:1;
//   text-align:center;

//   position:relative;
//   z-index:1;
 
// }

// .check__contents{
//   margin-top:rem(100);
// }

// .check-main{
//   display:flex;
//   flex-wrap:wrap;
//   // justify-content:flex-end;
//   margin-left:auto;
//   width:83.333%;
//   position:relative;
//   z-index:1;

// }

// .check-main__img{
//    width:25%;
//   // width:rem(300);
// }

// .check-main__img img{
//   width:100%;
//   height:100%;
// }

// .see-more{
//   // margin-left:auto;
 
//   text-align:right;
// }

// .see-more a{
//     font-size:rem(18);
//     letter-spacing:0.02rem;
//     font-weight:700;
//      color:#111;
//      // color:red;
//      // cursor:pointer;
//      position: relative;
//      // text-decoration: none;
//      width:rem(220);
//      display:inline-block;
//      height:rem(30);
//      text-align:left;
// }

// .see-more a::after{
//   content: "";
//   display: inline-block;
//   position: absolute;
//   // top: calc(50% - 5px);
//   bottom:rem(-10);
//   // right: 20px;
//   // left:rem(-10);
//    left:0;
  
//   // width: rem(200);
//   // width:rem(220);
//   width:80%;
//   height: 5px;
//   border: none;
//   border-right: 2px solid #111;
//   border-bottom: 1px solid #111;
//   transform: skew(45deg);
//   transition: .3s;

//   // padding-top:rem(25);
// }

// .see-more a:hover::after{
//   left:rem(20);
  
//   // width:rem(230);
// }





//check

.check{
  // background-color:#ACACAC;
  // background: linear-gradient(90deg,#acacac 0%,yellow 100px,lime 100px,lime 100%);
  background:linear-gradient(90deg,#fff 0%,#fff 69.44%,#acacac 50%,#acacac 100%);
  width:100%;
  position:relative;
  padding-top:rem(144);
  padding-bottom:rem(231.9)

}
.check::before{
  content:'CHECK IT OUT';
  position:absolute;
  font-weight:700;
  font-size:rem(150);
  line-height:1;
  color:#E0E0E0;
  right:41.8%;
  top:0;
  transform:translateX(67%);
}


.check__ttl{
  font-size:rem(48);
  letter-spacing:0.02rem;
  line-height:1;
  text-align:center;
}

.check__contents{
  margin-top:rem(100);
}

.check-main{
  display:flex;
  flex-wrap:wrap;
  // justify-content:flex-end;
  margin-left:auto;
  width:83.333%;
}

.check-main__img{
   width:25%;
  // width:rem(300);
}

.check-main__img img{
  width:100%;
  height:100%;
}

.see-more{
  text-align:right;
}

.see-more a{
    font-size:rem(18);
    letter-spacing:0.02rem;
    font-weight:700;
     color:#111;
     // color:red;
     // cursor:pointer;
     position: relative;
     // text-decoration: none;
     width:rem(220);
     display:inline-block;
     height:rem(30);
     text-align:left;
   
}

.see-more a::after{
  content: "";
  display: inline-block;
  position: absolute;
  bottom:rem(-10);
  left:0;
  width:80%;
  height: 5px;
  border: none;
  border-right: 2px solid #111;
  border-bottom: 1px solid #111;
  transform: skew(45deg);
  transition: .3s;
}
.see-more a:hover::after{
  left:rem(20);
  // width:rem(230);
}






















