.thanks{
  color:#fff;
  text-align:center;
  line-height: 3;
  width:80%;
  margin:0 auto;
  font-size: rem(24);
  padding-top:rem(20);
  padding-bottom:rem(50);
  
  @include mq("md") {
    font-size: rem(36);
   
    padding-top:5rem;
    padding-bottom:8rem;
  }
}