
.header{
  height:rem(50);
  width:100%;
  position:fixed;
  z-index:10;
  background-color:#000;
  @include mq("md") {
    height:rem(100);
  }
}


.headerColor-default{
  background-color:rgba(0, 0, 0, 0.8)
}

.header-inner{
  display:flex;
  justify-content:space-between;
  align-items: center;
  height:inherit;

  position:relative;
  @include mq("md") {
   
  }
}


.header-logo{
  width:rem(70);
  
  // padding-bottom:rem(20);
  // // position:relative;
  // // z-index:1;
  // padding-top:0.9rem;
  
  // position:absolute;
  position: fixed;
  z-index:10000;
  left:rem(20);
  top:rem(12);
  @include mq("md") {
    padding-bottom: 0;
    top:0;
    left:0;
    // width:rem(200); 
    width:7rem;
    position:relative;
    // left:rem(120);
    // left:8.33%;
    // left:calc(50% - 100px);
    // top:1.5rem;
  }
}
.header-logo img{
   width:100%;
   height:100%;
}

.header__nav{
   display:none;
  @include mq("md") {
    display:flex; 
    align-items:center;

    margin-left:auto;
  }
}

.nav-items__item{
  @include mq("md") {
    font-size:rem(16);
    line-height:2;
    // letter-spacing: 2%;
    color:#fff;
  }

  a{
    display:inline-block;
    text-decoration:none;
    text-align:center;
    // letter-spacing: rem(2);
    // line-height: rem(23.17);
    transition:all 0.5s ease 0.1s;
    // padding-top:rem(10);
    // padding-bottom:rem(16);
    // padding-right: rem(0);
    // padding-left: rem(4);
    color:$white;
 
   
  //  font-size: rem(18);
    font-size: rem(16);
  //  font-weight: bold;
   position: relative;
   overflow: hidden;


   &::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-image: linear-gradient(
      130deg,
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 75%
    );
    -webkit-transition: 0.5s;
    transition: 0.5s;
  
    }

    &:hover::before{
      left: 100%;
     }
  }
}

.nav-items__item + .nav-items__item{
  @include mq("md") {
    // margin-left:rem(40);
    margin-left: 1.3rem;
  }
}


.nav-items__item_contact{
  @include mq("md") {

   a{
     display:inline-block;
     color:#060C41;
     background-color:#FFBA0E;
    //  padding:rem(22) rem(63);
     height:3rem;
    //  height:rem(60);
    //  width:rem(200);
     width:9rem;
     text-align:center;
     line-height:3rem;
    //  line-height:rem(60);
     border-radius:rem(100);
    //  box-sizing:border-box;
     position:relative;
     border:5px solid #060C41;
     font-weight:bold;

   }
  }
}

// @keyframes shiny {
//   0% { left: -20%; }
//   10% { left: 120%; }
//   100% { left: 120%; }
// }


// .nav-items__item_contact::after {
//   content: '';
//   position: absolute;
//   top: rem(15);
//   // left: -20%;
//   left:0;
//   // width: 40px;
//   // width:rem(60);
//   width:rem(40);
//   // height: 100%;
//   height:rem(60);
//   transform: scale(1) rotate(20deg);
//   background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, .5) 100%, rgba(255, 255, 255, 0) 0%);
//   animation-name: shiny;
//   animation-duration: 3s;
//   animation-timing-function: ease-in-out;
//   animation-iteration-count: infinite; 
// }






.drawer-icon{
  position:fixed;
  // top:rem(14.18);
  // top:0.78625rem;
  top:0.9rem;
  // right:rem(22);
  right:rem(16);
  z-index:1100;
  transition:transform 0.5s ease 0s;
  display:block;
  
  @include mq('md'){
    display:none;
  }

  
  
  &.is-active{
   .drawer-icon__bar1{
     transform: rotate(-45deg);
     top:rem(8);
   }
   .drawer-icon__bar2{
     display:none;
   }
   .drawer-icon__bar3{
     transform: rotate(45deg);
     top:rem(8);
   }
  }
 }
  
 
 .drawer-icon__bars {
   width:rem(24);
   height:rem(13);
   display: block;
   position: relative;
 }
 
 .drawer-icon__bar1,
 .drawer-icon__bar2,
 .drawer-icon__bar3 {
   position: absolute;
  width:rem(26);
  // height:0.05rem;
   height:0.15rem;
   background:$white;
   left: 0;
   border-radius:rem(20);
 }
 .drawer-icon__bar1{
   top:rem(0.5);
 }
 .drawer-icon__bar2{
   top:rem(7);
 }
 .drawer-icon__bar3{
   top:rem(14);
 }
 
 .drawer-content{
   width:100%;
   height:100%;
   position:fixed;
   right:0;
   top:rem(50);
  //  background:rgba(17, 17, 17, 1);
  background: url(../images/common/diego-ph-5LOhydOtTKU-unsplash.jpg) center center / cover;
   box-shadow: 0 0 rem(3) #00000029;
    z-index:299;
   
   transform: translateX(105%);
   transition:transform 0.5s ease 0s;
 
   &.is-active{
     transform: translateX(0);
   }
  
 }


 .drawer-content__items{
   margin-top:9rem;
 }
 
 .drawer-content__item{
   text-align:center;
   a{
      display:inline-block;
      text-decoration:none;
      text-align:center;
      letter-spacing: rem(2);
      line-height: rem(23.17);
      transition:all 0.5s ease 0.1s;
      padding-top:rem(10);
      padding-bottom:rem(16);
      padding-right: rem(0);
      padding-left: rem(4);
      color:$white;
   
     
     font-size: rem(18);
     font-weight: bold;
     position: relative;
     overflow: hidden;

     &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      background-image: linear-gradient(
        130deg,
        rgba(255, 255, 255, 0) 25%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 75%
      );
      -webkit-transition: 0.5s;
      transition: 0.5s;
    
      }



     &:hover::before{
      left: 100%;
     }
   }
 }

 .drawer-content__item + .drawer-content__item{
   margin-top:rem(20);
 }
 
 .drawer-background{
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
  //  background:rgba(#000, 0.8);
  background: url(../images/common/diego-ph-5LOhydOtTKU-unsplash.jpg) center center / cover;
   z-index:298;
  // z-index:2;
   display:none;
 
   &.is-active{
     display:block;
   }
   

 }

 .drawer-content__item_contact{
   text-align:center;

 }

 .drawer-content__item_contact{
   @include mq("md") {
  }
  a{
    background-color:#FFBA0E;
    //  padding:rem(22) rem(63);
    height:rem(60);
    width:rem(200);
    line-height:2rem;
    border-radius:rem(100);
    //  box-sizing:border-box;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    border:5px solid #060C41;
    display:block;
    
    align-items:center;
    box-sizing:border-box;
    font-weight: bold;
    color:#060C41;
  }
}